
h1{
	text-align:center;
	text-decoration:underline;
	padding-top:20px;
}
#img{
	max-width:70px;
}
.container{
	border-top: 10px solid #410693 ;
	border-bottom: 10px solid #410693 ;
	border-left: 5px solid #410693 ;
	border-right: 5px solid #410693 ;
	background: white;
    padding-bottom: 20px;
	padding-left:10px;
	padding-top:20px ;
	box-shadow: 0 5px 8px rgba(0,0,0,0.1);
	display:block;
    justify-content:space-between;
	max-width:460px;
	margin:auto;
	border-radius:8px;
	font-family:Arial;
	font-style:bold;
	  
}
span{
	font-size:20px;
	color:darkblue;
	font-family:Gill Sans;
	font-style:italic;
}
b{
	color:red;
}

.relation{
	margin-top:20px;
	
}
#rd1,#rd2,#rd3,#rd4,#rd5,#rd6{
	margin:10px;
	cursor:pointer;
	
}
button{
	
    width: 100%;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}




